/*Oppgave 2: Lage CSS for å style HTML*/
body {
    margin: 0px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1.3fr 4.5fr 1fr;
    grid-template-rows: 0fr 0fr 3fr;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         ". main ."
}

header{
    grid-area: header;
}

nav{
    display: grid;
    grid-area: nav;
    grid-template-rows:  1fr;
    grid-template-columns: 1fr 3fr;
    height: 70px;

    background-color: #ffffff;
    box-shadow: 0px 6px 10px #00000019;
    color: #333333;
}

nav ul{
    list-style-type: none;
    justify-self: end;
    align-self: center; 
}

nav ul li{
    font-size: 25px;
    padding: 15px;
    color: black;
    margin-right: 20px;
    margin-top: -14px;
}

nav #logo{
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
}

main{
    grid-area: main;
    margin-top: 6%;
    margin-bottom: 20%;
}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

label{
     font-size: 15px;
     font-weight: bold;
}

input{
     margin-bottom: 20px;
     margin-top: 10px;
}


#content{
    font-size: 20px;
    font-weight: bold;
}

textarea{
     border-radius: 5px;
     margin-bottom: 20px;
     margin-top: 10px;
}

#add-knapp{
     padding: 10px;
     margin-left: 830px;
     font-size: 25px;
     border-radius: 5px;
     width: 110px;
     color: #FFFFFF;
     background: #56D4C2;
     border: none;
}

article{
    border: 3px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px #5DD3D829;
    width: 280px;
    height: 160px;
    margin-top: 5px;
    padding: 20px;
    color: #333333;
}

#todo-overskrift{
     font-size: 25px;
     margin-bottom: 30px;
     margin-top: 30px;
     color: #333333;
}

h2{
     font-size: 18px;
     text-align: left;
     padding: 5px;  
     color: #333333;
}

#complete{
    color: #FFFFFF;
    background: #56D4C2;
    border: none;
    margin-left: 200px;
    width: 80px;
    border-radius: 5px;
    padding: 5px;
}

/*Media queries m/maks 800px skal ha én kolonne*/

@media only screen and (max-width:800px) {
    body{
     grid-template-columns: 2fr;
     grid-template-rows: 0fr 0fr 3fr;
     grid-template-areas: "header"
                         "nav "
                          "main";
    }

    #container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    #todo-overskrift{
        font-size: 25px;
        margin-bottom: 40px;
        margin-top: 20px;
        text-align: center;
   }
   
}